@import '$lib/fonts/Cantarell-400.css';
@import '$lib/fonts/Cantarell-700.css';

html {
	background-color: var(--background-color);
	color: var(--text-color);
	transition-duration: 200ms;
	font-family: 'Cantarell', system-ui, -apple-system, 'Segoe UI', 'Roboto', 'Ubuntu', 'Noto Sans',
		sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

:root {
	--window-header: #ebebeb;
	--window-header-border: #cfcfcf;
	--window-border: #fbfbfb;
	--window-background: #fafafa;
	--window-text-color: black;
	--button: #e6e6e6;
	--button-hover: #dcdcdc;
	--button-focus: #bebebe;
	--codeblock: #1e1e1e;
	--background-color: #131416;
	--text-color: white;
}


@media (prefers-color-scheme: dark) {
	:root {
		--window-header: #303030;
		--window-header-border: #4f4f4f;
		--window-border: #3a3a3a;
		--window-background: #242424;
		--window-text-color: white;
		--button: #3a3a3a;
		--button-hover: #454545;
		--button-focus: #666666;
		--codeblock: #1e1e1e;
		--background-color: #131416;
		--text-color: white;
	}
}

html,
body {
	overflow-x: hidden;
}

pre {
	background-color: var(--codeblock);
	color: white;
	padding: 1rem;
	border-radius: 10px;

	>code {
		white-space: pre-wrap;
	}
}

.force-prefers-color {
	path {
		fill: var(--window-text-color);
	}
}